,Employee_ID,Date,Department,Job_Role,Hours_Worked,Tasks_Completed,Performance_Score,Tasks_Per_Hour
0,E00001,2023-01-01,Marketing,Manager,5.1,19,3.90,3.73
1,E00002,2023-01-02,HR,Consultant,9.3,8,2.95,0.86
2,E00003,2023-01-03,Finance,Developer,5.8,6,2.32,1.03
3,E00004,2023-01-04,Finance,Technician,6.4,15,1.51,2.34
4,E00005,2023-01-05,Marketing,Analyst,4.5,3,3.62,0.67
5,E00006,2023-01-06,Marketing,Analyst,11.6,2,1.40,0.17
6,E00007,2023-01-07,Sales,Manager,11.0,10,3.48,0.91
7,E00008,2023-01-08,HR,Manager,11.3,1,4.60,0.09
8,E00009,2023-01-09,Engineering,Technician,9.0,11,2.27,1.22
9,E00010,2023-01-10,HR,Developer,7.4,9,2.80,1.22

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Hours_Worked,1000.0,8.017700,2.343081,4.00,6.00,8.00,10.1000,12.00
Tasks_Completed,1010.0,10.486139,5.820430,1.00,5.00,10.00,16.0000,20.00
Performance_Score,1010.0,2.931485,1.131675,1.00,1.94,2.93,3.8875,4.99
Tasks_Per_Hour,1010.0,1.435307,0.960172,0.08,0.68,1.27,2.0000,5.00

Employee_ID           object
Date                  object
Department            object
Job_Role              object
Hours_Worked         float64
Tasks_Completed        int64
Performance_Score    float64
Tasks_Per_Hour       float64
dtype: object

Employee_ID           0
Date                  0
Department            0
Job_Role              0
Hours_Worked         10
Tasks_Completed       0
Performance_Score     0
Tasks_Per_Hour        0
dtype: int64

Number of rows with duplicated values: 10

Number of rows with null values: 10

Number of rows with duplicated values: 0

Missing values in 'Hours_Worked': 0

Employee_ID                  object
Date                 datetime64[ns]
Department                 category
Job_Role                   category
Hours_Worked                float64
Tasks_Completed               int32
Performance_Score           float64
Tasks_Per_Hour              float64
dtype: object

In [51]:
# Ensure the 'Date' column is a datetime object
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Extract Year and Month from the 'Date' column
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

# Display the updated DataFrame (optional)
print(df[['Date', 'Year', 'Month']].head(10))

        Date  Year  Month
0 2023-01-01  2023      1
1 2023-01-02  2023      1
2 2023-01-03  2023      1
3 2023-01-04  2023      1
4 2023-01-05  2023      1
5 2023-01-06  2023      1
6 2023-01-07  2023      1
7 2023-01-08  2023      1
8 2023-01-09  2023      1
9 2023-01-10  2023      1

In [55]:
# Calculate the average performance score for each department with explicit 'observed' parameter
average_performance_by_department = df.groupby('Department', observed=False)['Performance_Score'].mean()

# Display the result
print(average_performance_by_department)

Department
Engineering    2.947379
Finance        2.940204
HR             3.004494
Marketing      2.846010
Sales          2.932736
Name: Performance_Score, dtype: float64

In [59]:
# Group by Job Role and calculate the average tasks completed per day with observed=False
average_tasks_by_role = df.groupby('Job_Role', observed=False)['Tasks_Completed'].mean()

# Sort by the average number of tasks completed per day in descending order
top_3_roles = average_tasks_by_role.sort_values(ascending=False).head(3)

# Display the top 3 roles with the highest average tasks completed per day
print(top_3_roles)

Job_Role
Analyst       11.360000
Manager       10.401015
Technician    10.326203
Name: Tasks_Completed, dtype: float64

In [63]:
# Group by Department and calculate the total tasks completed with observed=False
total_tasks_by_department = df.groupby('Department', observed=False)['Tasks_Completed'].sum()

# Display the result
print(total_tasks_by_department)

Department
Engineering    2337
Finance        1996
HR             1833
Marketing      2164
Sales          2177
Name: Tasks_Completed, dtype: int32